In [4]:
a=1
b=5
a+b

6

In [9]:
c = a^2+b
print(c+2)
c + 1

8

7

In [11]:
type(c)

int

In [15]:
type(False)

bool

In [16]:
type("string")

str

In [13]:
type(b/a)

float

In [21]:
a = 3.0
b = "string"
a*b

TypeError: can't multiply sequence by non-int of type 'float'

In [24]:
a=3
b=3
a += b
a = a+b
a

6

In [25]:
a**2

36

In [27]:
import math
math.pi*2

6.283185307179586

In [29]:
math.e**2

7.3890560989306495

In [31]:
type(math.floor(math.e**2))

int

In [34]:
int(math.e**2+0.5)

7

In [41]:
bool(True + False - 1 + 3)

True

In [38]:
4 + 1.0

5.0

In [43]:
2+"3"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
float('3.1 and')

ValueError: could not convert string to float: '3.1 and'

In [46]:
'Hello World'

'Hello World'

In [47]:
"Hello World"

'Hello World'

In [49]:
"Hello 'world' end"

"Hello 'world' end"

In [56]:
a= """
"sdfs'sdfsd'pkl"!
@
"""

print(a)

"sdfs'sdfsd'pkl"!
@

In [52]:
a = 'Hello World'
print(a)

Hello World

In [58]:
a = "Hello World"
b = "!"
print(a, b)

Hello World !

In [59]:
a = "Hello World"
b = "!"
print(a+b)

Hello World!

In [61]:
# Write: Hello Hello Hello Wooorld!
print("Hello "*3 + "W"+"o"*3+"rld!")

Hello Hello Hello Wooorld!

In [65]:
a = "Hello World"
a[0:5]
a[7]

'o'

In [67]:
a[::3]

'HlWl'

In [72]:
a[::-1]

'dlroW olleH'

In [73]:
len(a)

11

In [76]:
b = a.split(' ')
b

['Hello', 'World']

In [77]:
" ".join(b)

'Hello World'

In [85]:
# Make a string of first names: Julius, Sara, Selina, Maude
# Take out Julius
# split into individual names
# Combine remaining three names into a string
names = "Julius, Sara, Selina, Maude"
names = names[8:].split(", ")
", ".join(names)



names = "Julius, Sara, Selina, Maude"
names = names.split(", ")
", ".join(names[1:])

'Sara, Selina, Maude'

In [92]:
names = "'Julius, Sara, Selina, Maude'"
names.count("S")
names.startswith("Julius")
names.find("Sara")
print(names)
print(names.strip("'"))

'Julius, Sara, Selina, Maude'
Julius, Sara, Selina, Maude

In [93]:
names.replace('Julius', 'Martin')

"'Martin, Sara, Selina, Maude'"

# Lists

In [96]:
print(names.split(", "))
names.split(", ")[1]

["'Julius", 'Sara', 'Selina', "Maude'"]

'Sara'

In [98]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [103]:
mylist = [1, 2, "Hello", True]
mylist[1:3]

[2, 'Hello']

In [101]:
list('Hello World')

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [104]:
list_1 = [1,2]
list_2 = [3,4]
list_1 + list_2

[1, 2, 3, 4]

In [107]:
list_1 = [1,2]
list_2 = [3,4]
[list_1, list_2][0][0]

1

In [125]:
list_1 = [1,2]
list_2 = [3,4]

In [124]:
list_1.append(list_2)
list_1

[1, 2, [3, 4], [3, 4], [3, 4]]

In [127]:
list_1 = [1,2]
list_2 = [3,4]
list_1.extend(list_2)
list_1

[1, 2, 3, 4]

In [128]:
list_1 = [1,2]
list_2 = [3,4]
list_1.insert(1, list_2)
list_1

[1, [3, 4], 2]

In [132]:
# Define variables as our names
# put variables in a list
# combine all names into a string of names
a = "Julius"
b = "Sara"
c = "Selina"
d = "Maude"
names = [a, b, c, d]
", ".join(names)

'Julius, Sara, Selina, Maude'

In [133]:
names.remove('Julius')
names

['Sara', 'Selina', 'Maude']

In [135]:
names[0] = "Julius"
names

['Julius', 'Selina', 'Maude']

In [138]:
names[names.index('Maude')] = "Martin"
names

ValueError: 'Maude' is not in list

In [139]:
names.count('Julius')

1

In [141]:
names.sort()
names

['Julius', 'Martin', 'Selina']

In [143]:
"Maude" in names

False

In [155]:
economists = ['Hayek', 'Keynes']
philosophers = ['Plato', 'Aristotle']
philosophers = economists.copy()  # real copy [:]
economists.append('Marx')
economists

['Hayek', 'Keynes', 'Marx']

In [156]:
philosophers

['Hayek', 'Keynes']

In [157]:
philosophers.append('Socrates')
philosophers

['Hayek', 'Keynes', 'Socrates']

In [158]:
economists

['Hayek', 'Keynes', 'Marx']

In [159]:
a = 1
b= 2
a= b
b= b+1
a

2

# Tuple

In [160]:
my_tuple = (1,2,3)
my_tuple

(1, 2, 3)

In [165]:
names = tuple(names)
names

('Julius', 'Martin', 'Selina')

In [166]:
names[1] = 'Sara'

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [167]:
my_dictionary = {'Instructor': "Julius", 'Student1':'Selina', "Student2":'Maude'}
my_dictionary

{'Instructor': 'Julius', 'Student1': 'Selina', 'Student2': 'Maude'}

In [168]:
my_dictionary['Instructor']

'Julius'

In [170]:
my_dictionary = {'Instructor': 1, 'Student1':'Selina', "Student2":True, "Whatever":names}
my_dictionary

{'Instructor': 1,
 'Student1': 'Selina',
 'Student2': True,
 'Whatever': ('Julius', 'Martin', 'Selina')}

In [171]:
my_dictionary = {'Instructor': "Julius", 'Student1':'Selina', "Student2":'Maude'}
my_dictionary['Student3']

KeyError: 'Student3'

In [174]:
my_dictionary.get('Student3', 'Not in Dict')

'Not in Dict'

In [176]:
my_dictionary['Student3']='Jakob'
my_dictionary

{'Instructor': 'Julius',
 'Student1': 'Selina',
 'Student2': 'Maude',
 'Student3': 'Jakob'}

In [179]:
dict2 = {'Student4':'Johann', 'Student5': 'Not existing'}
my_dictionary.update(dict2)
my_dictionary

{'Instructor': 'Julius',
 'Student1': 'Selina',
 'Student2': 'Maude',
 'Student3': 'Jakob',
 'Student4': 'Johann',
 'Student5': 'Not existing'}

In [181]:
my_dictionary = {'Instructor': "Julius", 'Student1':'Selina', "Student2":'Maude', 'Student2': 'Cheater'}
dict2 = {'Student2':'Johann', 'Student5': 'Not existing'}
my_dictionary.update(dict2)
my_dictionary

{'Instructor': 'Julius',
 'Student1': 'Selina',
 'Student2': 'Johann',
 'Student5': 'Not existing'}

In [182]:
my_dictionary = {'Instructor': "Julius", 'Student1':'Selina', "Student2":'Maude', 'Student2': 'Cheater'}
my_dictionary

{'Instructor': 'Julius', 'Student1': 'Selina', 'Student2': 'Cheater'}

In [183]:
my_dictionary.keys()

dict_keys(['Instructor', 'Student1', 'Student2'])

In [184]:
my_dictionary.values()

dict_values(['Julius', 'Selina', 'Cheater'])

In [186]:
'Student2' in my_dictionary

True

In [197]:
# Define dictionary with all job and names
# new dictionary with names and job
my_dictionary = {'Instructor': "Julius", 'Student1':'Selina', "Student2":'Maude', 'Student2': 'Cheater'}
keys = my_dictionary.keys()
values = list(my_dictionary.values()) # + ['Johann']
dict(zip(values, keys))

{'Julius': 'Instructor', 'Selina': 'Student1', 'Cheater': 'Student2'}

# If

In [198]:
if True:
    print('It was true')

It was true

In [199]:
if bool(True + 3):
    print('It was true')

It was true

In [205]:
name = 'Selina'
if name == 'Julius':
    print("name is Julius")
elif name == 'Selina':
    print('Name is not Selina')
elif name == 'Maude':
    print("maude")
else:
    print('Neither')

Name is not Selina

In [209]:
if 2:
    print('2 exists')

2 exists

In [210]:
if name != 'Julius':
    print('Name not Julius')

Name not Julius

In [218]:
x = 6
if (x<5) or (x>3):
    print('x is 4')

x is 4

# While

In [223]:
x = 1
while x>=1:
    x+=1
    print(x)
    if x==5:
        break

2
3
4
5

# For

In [224]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [226]:
for key, value in my_dictionary.items():
    print(key, value)

Instructor Julius
Student1 Selina
Student2 Cheater

In [234]:
['']*len(my_dictionary)

['', '', '']

In [235]:
keys=['']*len(my_dictionary)
for i, (key, value) in enumerate(my_dictionary.items()):
    print(key, value)
    keys[i] = key+value

keys

Instructor Julius
Student1 Selina
Student2 Cheater

['InstructorJulius', 'Student1Selina', 'Student2Cheater']

In [236]:
my_dictionary
# reverse dict with for or while loop

{'Instructor': 'Julius', 'Student1': 'Selina', 'Student2': 'Cheater'}

# List comprehension

In [1]:
my_list = list()
for i in range(1, 5):
    my_list.append(i)

my_list

[1, 2, 3, 4]

In [3]:
[range(1,4)][2]

IndexError: list index out of range

In [7]:
my_list = [i**2 for i in range(1,5)]
my_list

[1, 4, 9, 16]

In [8]:
my_list = list()
for i in range(1,5):
    for j in range(1,5):
        my_list.append((i, j))

my_list

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [9]:
[(i, j) for i in range(1,5) for j in range(1,5)]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4)]

In [10]:
[(i, j) for i in range(1,5) for j in range(1,5) if (i+j)<=5]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 1),
 (3, 2),
 (4, 1)]

In [12]:
{str(i)+str(j):(i,j) for i in range(1,5) for j in range(1,5)}

{'11': (1, 1),
 '12': (1, 2),
 '13': (1, 3),
 '14': (1, 4),
 '21': (2, 1),
 '22': (2, 2),
 '23': (2, 3),
 '24': (2, 4),
 '31': (3, 1),
 '32': (3, 2),
 '33': (3, 3),
 '34': (3, 4),
 '41': (4, 1),
 '42': (4, 2),
 '43': (4, 3),
 '44': (4, 4)}

In [25]:
import numpy as np

def func(i):
    if i % 2 == 0:
        return(np.sum(range(0,i)))
    elif i % 2 != 0:
        return('Not even')

[func(i) for i in range(0,100)]

[0.0,
 'Not even',
 1,
 'Not even',
 6,
 'Not even',
 15,
 'Not even',
 28,
 'Not even',
 45,
 'Not even',
 66,
 'Not even',
 91,
 'Not even',
 120,
 'Not even',
 153,
 'Not even',
 190,
 'Not even',
 231,
 'Not even',
 276,
 'Not even',
 325,
 'Not even',
 378,
 'Not even',
 435,
 'Not even',
 496,
 'Not even',
 561,
 'Not even',
 630,
 'Not even',
 703,
 'Not even',
 780,
 'Not even',
 861,
 'Not even',
 946,
 'Not even',
 1035,
 'Not even',
 1128,
 'Not even',
 1225,
 'Not even',
 1326,
 'Not even',
 1431,
 'Not even',
 1540,
 'Not even',
 1653,
 'Not even',
 1770,
 'Not even',
 1891,
 'Not even',
 2016,
 'Not even',
 2145,
 'Not even',
 2278,
 'Not even',
 2415,
 'Not even',
 2556,
 'Not even',
 2701,
 'Not even',
 2850,
 'Not even',
 3003,
 'Not even',
 3160,
 'Not even',
 3321,
 'Not even',
 3486,
 'Not even',
 3655,
 'Not even',
 3828,
 'Not even',
 4005,
 'Not even',
 4186,
 'Not even',
 4371,
 'Not even',
 4560,
 'Not even',
 4753,
 'Not even']

In [24]:
for i in range(0,1):
    print(0)

0

In [26]:
np.sqrt(231)

15.198684153570664

# Defining Functions

In [1]:
x1 = 1
x2 = 2
u = x1**0.4+x2**0.6
print(u)

1.515716566510398

In [2]:
x1 = 1
x2 = 3
u = x1**0.4+x2**0.6
print(u)

1.9331820449317627

In [3]:
x1 = 1
x2 = 3
u = x1**0.4+x2**0.6
print(u)

2.9331820449317627

In [ ]:
def func_name(args):
    # do stuff with args
    return(result)

In [6]:
def utility(x1, x2, alpha):
    util = x1**alpha * x2**(1-alpha)
    return(util)

utility(1, 2, 0.4)

1.515716566510398

In [7]:
utility(1, 3, 0.4)

1.9331820449317627

In [8]:
# write a function which takes a list of numbers and takes the sqrt of each number and returns the list of the sqrted numbers
def list_sqrt(numbers):
    numbers_sqrt = [i**0.5 for i in numbers]
    return(numbers_sqrt)

list_sqrt([1,2,3])

[1.0, 1.4142135623730951, 1.7320508075688772]

In [1]:
import numpy as np

def jensen(xs, func):
    E_funcx = np.mean(func(xs))
    func_Ex = func(np.mean(xs))
    return(E_funcx, func_Ex)

xs = np.random.uniform(low=1, high=2, size=1000)
a, b = jensen(xs, np.sqrt)

In [29]:
E_funcx = np.mean(np.sqrt(xs))
func_Ex = np.sqrt(np.mean(xs))

In [10]:
xs = np.random.uniform(low=1, high=2, size=1000)

In [12]:
import numpy as np

def jensen(func):
    E_funcx = np.mean(func(xs))
    func_Ex = func(np.mean(xs))
    return(E_funcx, func_Ex)

# defined globally
jensen(np.sqrt)
# E_funcx # only defined inside the function

(1.2251879715959992, 1.2308149937905055)

In [2]:
jensen(np.sqrt)

(1.2190342748578886, 1.2248913361749525)

In [9]:
def func():
    xs = [1,2,3] # only changed within function
    return(xs)

xs = [4,5,6] # defined globally
func()
print(xs)

[4, 5, 6]

In [13]:
import numpy as np

def jensen(xs, func):
    E_funcx = np.mean(func(xs))
    func_Ex = func(np.mean(xs))
    return(E_funcx, func_Ex)

xs = np.random.uniform(low=1, high=2, size=1000)
a, b = jensen(xs)

TypeError: jensen() missing 1 required positional argument: 'func'

In [15]:
import numpy as np

# define with defaults
def jensen(xs, func=np.sqrt):
    E_funcx = np.mean(func(xs))
    func_Ex = func(np.mean(xs))
    return(E_funcx, func_Ex)

xs = np.random.uniform(low=1, high=2, size=1000)
a, b = jensen(xs)
print(a,b)

1.22125559775895 1.2269438352435444

In [16]:
jensen(func=np.exp, xs=xs)

(4.693256119147781, 4.505915886526459)

In [17]:
print("hello", 'world', '!')

hello world !

In [40]:
def my_print(*args, prefix='Printed:'):
    print(prefix, args)

my_print("hello", 'world', '!')

Printed: ('hello', 'world', '!')

In [39]:
def my_print(**kwargs):
    print("Printed:", kwargs)

my_print(Instructor='Julius', Students=['Johann', 'Maude'])

Printed: {'Instructor': 'Julius', 'Students': ['Johann', 'Maude']}

In [41]:
def jensen(xs, func):
    # Takes xs and returns both sides of the Jensen inequality
    E_funcx = np.mean(func(xs))
    func_Ex = func(np.mean(xs))
    return(E_funcx, func_Ex)

In [42]:
def jensen(xs, func):
    """
    Takes xs and returns both sides of the Jensen inequality
    Inputs:
    xs: np.array
    func: function
    Outputs:
    E_funcx: float
    func_Ex: float
    """
    E_funcx = np.mean(func(xs))
    func_Ex = func(np.mean(xs))
    return(E_funcx, func_Ex)

In [43]:
help(jensen)

Help on function jensen in module __main__:

jensen(xs, func)
    Takes xs and returns both sides of the Jensen inequality
    Inputs:
    xs: np.array
    func: function
    Outputs:
    E_funcx: float
    func_Ex: float

In [44]:
help(np.mean)

Help on _ArrayFunctionDispatcher in module numpy:

mean(a, axis=None, dtype=None, out=None, keepdims=<no value>, *, where=<no value>)
    Compute the arithmetic mean along the specified axis.

    Returns the average of the array elements.  The average is taken over
    the flattened array by default, otherwise over the specified axis.
    `float64` intermediate and return values are used for integer inputs.

    Parameters
    ----------
    a : array_like
        Array containing numbers whose mean is desired. If `a` is not an
        array, a conversion is attempted.
    axis : None or int or tuple of ints, optional
        Axis or axes along which the means are computed. The default is to
        compute the mean of the flattened array.

        .. versionadded:: 1.7.0

        If this is a tuple of ints, a mean is performed over multiple axes,
        instead of a single axis or all the axes as before.
    dtype : data-type, optional
        Type to use in computing the mean.  For integer inputs, the default
        is `float64`; for floating point inputs, it is the same as the
        input dtype.
    out : ndarray, optional
        Alternate output array in which to place the result.  The default
        is ``None``; if provided, it must have the same shape as the
        expected output, but the type will be cast if necessary.
        See :ref:`ufuncs-output-type` for more details.

    keepdims : bool, optional
        If this is set to True, the axes which are reduced are left
        in the result as dimensions with size one. With this option,
        the result will broadcast correctly against the input array.

        If the default value is passed, then `keepdims` will not be
        passed through to the `mean` method of sub-classes of
        `ndarray`, however any non-default value will be.  If the
        sub-class' method does not implement `keepdims` any
        exceptions will be raised.

    where : array_like of bool, optional
        Elements to include in the mean. See `~numpy.ufunc.reduce` for details.

        .. versionadded:: 1.20.0

    Returns
    -------
    m : ndarray, see dtype parameter above
        If `out=None`, returns a new array containing the mean values,
        otherwise a reference to the output array is returned.

    See Also
    --------
    average : Weighted average
    std, var, nanmean, nanstd, nanvar

    Notes
    -----
    The arithmetic mean is the sum of the elements along the axis divided
    by the number of elements.

    Note that for floating-point input, the mean is computed using the
    same precision the input has.  Depending on the input data, this can
    cause the results to be inaccurate, especially for `float32` (see
    example below).  Specifying a higher-precision accumulator using the
    `dtype` keyword can alleviate this issue.

    By default, `float16` results are computed using `float32` intermediates
    for extra precision.

    Examples
    --------
    >>> a = np.array([[1, 2], [3, 4]])
    >>> np.mean(a)
    2.5
    >>> np.mean(a, axis=0)
    array([2., 3.])
    >>> np.mean(a, axis=1)
    array([1.5, 3.5])

    In single precision, `mean` can be inaccurate:

    >>> a = np.zeros((2, 512*512), dtype=np.float32)
    >>> a[0, :] = 1.0
    >>> a[1, :] = 0.1
    >>> np.mean(a)
    0.54999924

    Computing the mean in float64 is more accurate:

    >>> np.mean(a, dtype=np.float64)
    0.55000000074505806 # may vary

    Specifying a where argument:

    >>> a = np.array([[5, 9, 13], [14, 10, 12], [11, 15, 19]])
    >>> np.mean(a)
    12.0
    >>> np.mean(a, where=[[True], [False], [False]])
    9.0

In [49]:
def jensen(xs, func=np.sqrt):
    """
    Takes xs and returns both sides of the Jensen inequality
    Inputs:
    xs: np.array or list
    func: function
    Outputs:
    E_funcx: float
    func_Ex: float
    """
    E_funcx = np.mean(func(xs))
    func_Ex = func(np.mean(xs))
    return(E_funcx, func_Ex)

# def utility(xs):
#     util = xs**0.4 * xs**(1-0.6)
#     return(util)
    

jensen(xs=np.array([1,2,3,4]), func=lambda xs: xs**0.4 * xs**(1-0.6))

(2.045189736223434, 2.081383018504683)

In [ ]:
# with two arguments in the lambda
lambda xs, alpha: xs**alpha * xs**(1-alpha)

In [55]:
def ces_utility(x, y, delta=0.5):
    """
    Calculates the CES utility for bundle (x,y).
    Inputs:
    x: value good 1 (np.array)
    y: value good 2 (np.array)
    delta: elasticity of good 1 and good 2 (float)
    Output:
    u: utility value (np.array)
    """
    if delta >= 1:
        raise ValueError('Delta is not less than 1.')
    u = x**delta/delta + y**delta/delta
    return(u)

ces_utility(1, 2, delta=0.5)

4.82842712474619

# Catch errors

In [ ]:
try:
    # code to try
except # which type of error:
    # what to do if error

In [62]:
try:
    print(ces_utility(1, 2, delta=1.5))
except ValueError:
    print(ces_utility(1, 2, delta=0.5))

4.82842712474619

In [66]:
def add_stuff(a,b):
    return(a+b)
try:
    add_stuff()
except TypeError:
    print("forgot numbers")

forgot numbers