# Pandas

In [1]:
import numpy as np
import pandas as pd

In [10]:
unemp = pd.Series([[3.5, 2.4,3.8], [2.3]])

In [11]:
unemp

0    [3.5, 2.4, 3.8]
1              [2.3]
dtype: object

In [15]:
unemp= pd.Series(np.random.normal(size=10))

In [21]:
unemp.values

array([ 1.21101028,  0.58302586, -0.12387485,  1.30992483,  0.29120594,
        0.28196306,  0.48147304, -0.23484553,  1.40429065,  1.28073664])

In [22]:
unemp.index

RangeIndex(start=0, stop=10, step=1)

In [23]:
unemp[2:4]

2   -0.123875
3    1.309925
dtype: float64

In [50]:
values = [3, 2.3, 6] 
names = ['Cali', 'DC', 'Florida']
unemp = pd.Series(values, index=names)
unemp

Cali       3.0
DC         2.3
Florida    6.0
dtype: float64

In [25]:
unemp['Cali']

3.0

In [30]:
data={'states':['Cali', 'DC', 'Florida'], 'unemp':[3, 2.3, 6] }
df = pd.DataFrame(data, index=names)

In [51]:
df = pd.DataFrame(data, index=names)

In [52]:
df

          states  unemp
Cali        Cali    3.0
DC            DC    2.3
Florida  Florida    6.0

In [39]:
df.iloc[1]

states     DC
unemp     2.3
Name: 1, dtype: object

In [55]:
df.loc['Cali','states'] # named indexing

'Cali'

In [44]:
df.iloc[0,0] # "number" indexing

'Cali'

In [61]:
data={'states':['Cali', 'DC', 'Florida'], 'unemp':[3, 2.3, 6] }
df = pd.DataFrame(data)
df.loc[[1,2],['unemp', 'states']]

   unemp   states
1    2.3       DC
2    6.0  Florida

In [62]:
df.iloc['1', 'states']

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [63]:
df

    states  unemp
0     Cali    3.0
1       DC    2.3
2  Florida    6.0

In [64]:
indexing = df['unemp']>3
indexing

0    False
1    False
2     True
Name: unemp, dtype: bool

In [65]:
df[indexing]

    states  unemp
2  Florida    6.0

In [80]:
df[]

KeyError: "None of [Int64Index([1, 2], dtype='int64')] are in the [columns]"

In [67]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [70]:
list(df.columns)

['states', 'unemp']

In [71]:
df.shape

(3, 2)

In [72]:
len(df)

3

In [73]:
np.array(df)

array([['Cali', 3.0],
       ['DC', 2.3],
       ['Florida', 6.0]], dtype=object)

In [76]:
df['unemp'].mean() == np.mean(df['unemp'])

True

In [81]:
df

    states  unemp
0     Cali    3.0
1       DC    2.3
2  Florida    6.0

In [87]:
indexing = (df['states'] == 'Cali') & (df['unemp'] == 3.0)
df['unemp'][indexing]

0    3.0
Name: unemp, dtype: float64

In [89]:
df['unemp'][0]

3.0

In [90]:
df.iloc[1:2, 0:1]

  states
1     DC

# Reading Data

In [91]:
import glob

In [95]:
files_list = glob.glob("pandas-data/data/bls-employment-state/LAUST*.csv")

In [122]:
print(files_list[0])
df = pd.read_csv('pandas-data/data/bls-employment-state/LAUST410000000000006.csv') #, names=['A', 'B', 'C', 'D', 'E'], header=1)

pandas-data/data/bls-employment-state/LAUST410000000000006.csv

In [123]:
df.head(10)

,state,year,period,value,footnotes
0,Oregon,2016,M12,2052822,Reflects revised population controls and model...
1,Oregon,2016,M11,2070415,Reflects revised population controls and model...
2,Oregon,2016,M10,2076489,Reflects revised population controls and model...
3,Oregon,2016,M09,2075688,Reflects revised population controls and model...
4,Oregon,2016,M08,2085823,Reflects revised population controls and model...
5,Oregon,2016,M07,2084202,Reflects revised population controls and model...
6,Oregon,2016,M06,2074431,Reflects revised population controls and model...
7,Oregon,2016,M05,2043391,Reflects revised population controls and model...
8,Oregon,2016,M04,2037794,Reflects revised population controls and model...
9,Oregon,2016,M03,2034388,Reflects revised population controls and model...

In [124]:
df.tail()

      state  year period    value footnotes
199  Oregon  2000    M05  1813210       NaN
200  Oregon  2000    M04  1814684       NaN
201  Oregon  2000    M03  1809662       NaN
202  Oregon  2000    M02  1805218       NaN
203  Oregon  2000    M01  1796556       NaN

In [125]:
df.dtypes

state        object
year          int64
period       object
value         int64
footnotes    object
dtype: object

In [126]:
df.describe()

              year         value
count   204.000000  2.040000e+02
mean   2008.000000  1.915029e+06
std       4.911031  7.217718e+04
min    2000.000000  1.796556e+06
25%    2004.000000  1.842376e+06
50%    2008.000000  1.915278e+06
75%    2012.000000  1.971492e+06
max    2016.000000  2.085823e+06

In [133]:
df = pd.read_csv(files_list[0], usecols=['year', 'state'], nrows=20)

In [134]:
df

     state  year
0   Oregon  2016
1   Oregon  2016
2   Oregon  2016
3   Oregon  2016
4   Oregon  2016
5   Oregon  2016
6   Oregon  2016
7   Oregon  2016
8   Oregon  2016
9   Oregon  2016
10  Oregon  2016
11  Oregon  2016
12  Oregon  2015
13  Oregon  2015
14  Oregon  2015
15  Oregon  2015
16  Oregon  2015
17  Oregon  2015
18  Oregon  2015
19  Oregon  2015

Load
Laust01......6
laust01....3

In [147]:
df_2 = pd.read_csv(files_list[0])
df_3 = pd.read_csv(files_list[1], names=['A', 'B', 'C', 'D', 'E'])[1:100]

In [158]:
df_ugly = pd.concat([df_2, df_3], axis=1).reset_index()
df_ugly['D'] = df_ugly['D'].astype('float')

In [160]:
np.mean(df_ugly['D'], )

8.120202020202019

In [161]:
np.nanmean(df_ugly['D'])

8.120202020202019

In [172]:
df_ugly['D'][df_ugly['D'].isna()] = 0

/var/folders/yy/wpx_r5fd78s2m0yclrw9tybnvvkvnb/T/ipykernel_21756/1754841129.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ugly['D'][df_ugly['D'].isna()] = 0

In [173]:
df_ugly['D'] = df_ugly['D'].fillna(0)

In [178]:
df = pd.concat([pd.read_csv(files_list[0]), pd.read_csv(files_list[1])], axis=1)

In [179]:
df

,state,year,period,value,footnotes,state,year,period,value,footnotes
0,Oregon,2016,M12,2052822,Reflects revised population controls and model...,Alabama,2016,M12,5.9,Reflects revised population controls and model...
1,Oregon,2016,M11,2070415,Reflects revised population controls and model...,Alabama,2016,M11,5.7,Reflects revised population controls and model...
2,Oregon,2016,M10,2076489,Reflects revised population controls and model...,Alabama,2016,M10,6.2,Reflects revised population controls and model...
3,Oregon,2016,M09,2075688,Reflects revised population controls and model...,Alabama,2016,M09,6.2,Reflects revised population controls and model...
4,Oregon,2016,M08,2085823,Reflects revised population controls and model...,Alabama,2016,M08,6.2,Reflects revised population controls and model...
...,...,...,...,...,...,...,...,...,...,...
199,Oregon,2000,M05,1813210,NaN,Alabama,2000,M05,4.1,NaN
200,Oregon,2000,M04,1814684,NaN,Alabama,2000,M04,3.8,NaN
201,Oregon,2000,M03,1809662,NaN,Alabama,2000,M03,4.5,NaN
202,Oregon,2000,M02,1805218,NaN,Alabama,2000,M02,5.1,NaN
203,Oregon,2000,M01,1796556,NaN,Alabama,2000,M01,5.1,NaN

In [182]:
df = pd.read_csv(files_list[0])
df

,state,year,period,value,footnotes
0,Oregon,2016,M12,2052822,Reflects revised population controls and model...
1,Oregon,2016,M11,2070415,Reflects revised population controls and model...
2,Oregon,2016,M10,2076489,Reflects revised population controls and model...
3,Oregon,2016,M09,2075688,Reflects revised population controls and model...
4,Oregon,2016,M08,2085823,Reflects revised population controls and model...
...,...,...,...,...,...
199,Oregon,2000,M05,1813210,NaN
200,Oregon,2000,M04,1814684,NaN
201,Oregon,2000,M03,1809662,NaN
202,Oregon,2000,M02,1805218,NaN
203,Oregon,2000,M01,1796556,NaN

In [184]:
np.sum(df['footnotes'].isna())

144

In [185]:
df['footnotes'] = df['footnotes'].fillna(0)

In [186]:
df

,state,year,period,value,footnotes
0,Oregon,2016,M12,2052822,Reflects revised population controls and model...
1,Oregon,2016,M11,2070415,Reflects revised population controls and model...
2,Oregon,2016,M10,2076489,Reflects revised population controls and model...
3,Oregon,2016,M09,2075688,Reflects revised population controls and model...
4,Oregon,2016,M08,2085823,Reflects revised population controls and model...
...,...,...,...,...,...
199,Oregon,2000,M05,1813210,0
200,Oregon,2000,M04,1814684,0
201,Oregon,2000,M03,1809662,0
202,Oregon,2000,M02,1805218,0
203,Oregon,2000,M01,1796556,0

In [187]:
files_list

['pandas-data/data/bls-employment-state/LAUST410000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST010000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST110000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST300000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST550000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST240000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST050000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST450000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST550000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST300000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST200000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST110000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST510000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST410000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST110000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST050000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST240000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST340000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST240000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST150000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST050000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST550000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST300000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST410000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST510000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST200000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST010000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST110000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST450000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST340000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST150000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST450000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST550000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST010000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST300000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST200000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST510000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST410000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST010000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST240000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST340000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST150000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST150000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST050000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST340000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST450000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST200000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST510000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST100000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST310000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST210000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST440000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST540000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST040000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST250000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST540000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST310000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST100000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST400000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST400000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST310000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST540000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST040000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST250000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST250000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST350000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST040000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST100000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST500000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST400000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST310000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST210000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST440000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST540000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST350000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST440000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST100000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST210000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST500000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST500000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST210000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST440000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST350000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST040000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST250000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST350000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST500000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST400000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST320000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST720000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST390000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST170000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST290000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST260000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST180000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST480000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST080000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST260000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST360000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST180000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST390000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST530000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST130000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST130000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST320000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST220000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST390000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST480000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST470000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST480000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST180000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST260000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST320000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST130000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST220000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST530000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST720000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST080000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST360000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST170000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST390000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST290000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST470000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST170000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST290000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST260000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST080000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST180000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST360000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST720000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST530000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST320000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST220000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST720000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST290000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST170000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST470000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST480000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST470000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST360000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST080000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST530000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST130000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST220000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST120000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST420000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST380000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST060000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST270000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST090000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST190000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST370000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST490000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST560000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST270000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST190000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST160000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST380000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST280000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST060000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST420000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST330000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST020000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST120000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST330000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST420000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST190000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST270000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST490000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST560000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST460000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST560000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST490000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST060000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST380000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST330000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST230000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST120000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST020000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST420000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST090000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST270000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST370000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST190000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST160000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST280000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST460000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST380000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST160000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST060000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST280000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST090000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST370000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST230000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST230000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST020000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST120000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST370000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST090000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST460000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST490000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST460000000000005.csv',
 'pandas-data/data/bls-employment-state/LAUST560000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST280000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST160000000000006.csv',
 'pandas-data/data/bls-employment-state/LAUST020000000000004.csv',
 'pandas-data/data/bls-employment-state/LAUST330000000000003.csv',
 'pandas-data/data/bls-employment-state/LAUST230000000000005.csv']

In [188]:
df = pd.DataFrame()
for i in range(0, len(files_list)):
    df_i = pd.read_csv(files_list[i])
    df_i["Source"] = files_list[i].split("/")[-1]
    df = pd.concat([df,df_i])

In [190]:
df = pd.DataFrame()
for file in files_list:
    df_i = pd.read_csv(file)
    df_i["Source"] = file.split("/")[-1]
    df = pd.concat([df,df_i])

In [192]:
# with loop
list_df = []
for file in files_list:
    list_df.append(pd.read_csv(file))

# list comprehension
list_df = [pd.read_csv(file) for file in files_list]

df_all = pd.concat(list_df)

In [193]:
df_all

,state,year,period,value,footnotes
0,Oregon,2016,M12,2052822.0,Reflects revised population controls and model...
1,Oregon,2016,M11,2070415.0,Reflects revised population controls and model...
2,Oregon,2016,M10,2076489.0,Reflects revised population controls and model...
3,Oregon,2016,M09,2075688.0,Reflects revised population controls and model...
4,Oregon,2016,M08,2085823.0,Reflects revised population controls and model...
...,...,...,...,...,...
199,Maine,2000,M05,653689.0,NaN
200,Maine,2000,M04,649516.0,NaN
201,Maine,2000,M03,645231.0,NaN
202,Maine,2000,M02,641732.0,NaN
203,Maine,2000,M01,641758.0,NaN

# Merge

In [195]:
df_all[df_all['state'] == 'Oregon']

,state,year,period,value,footnotes
0,Oregon,2016,M12,2052822.0,Reflects revised population controls and model...
1,Oregon,2016,M11,2070415.0,Reflects revised population controls and model...
2,Oregon,2016,M10,2076489.0,Reflects revised population controls and model...
3,Oregon,2016,M09,2075688.0,Reflects revised population controls and model...
4,Oregon,2016,M08,2085823.0,Reflects revised population controls and model...
...,...,...,...,...,...
199,Oregon,2000,M05,4.9,NaN
200,Oregon,2000,M04,5.0,NaN
201,Oregon,2000,M03,5.7,NaN
202,Oregon,2000,M02,5.9,NaN
203,Oregon,2000,M01,5.8,NaN

In [206]:
files_list= glob.glob('pandas-data/data/bls-employment-state/LAUST01*[3,4,5].csv')
df_1 = pd.read_csv(files_list[0])
df_2 = pd.read_csv(files_list[1])
df_3 = pd.read_csv(files_list[2])

In [208]:
df_1

,state,year,period,value,footnotes
0,Alabama,2016,M12,2050965,Reflects revised population controls and model...
1,Alabama,2016,M11,2060807,Reflects revised population controls and model...
2,Alabama,2016,M10,2057151,Reflects revised population controls and model...
3,Alabama,2016,M09,2042696,Reflects revised population controls and model...
4,Alabama,2016,M08,2033706,Reflects revised population controls and model...
...,...,...,...,...,...
199,Alabama,2000,M05,2037787,NaN
200,Alabama,2000,M04,2045171,NaN
201,Alabama,2000,M03,2038654,NaN
202,Alabama,2000,M02,2027226,NaN
203,Alabama,2000,M01,2024262,NaN

In [223]:
df_merged = df_1.merge(df_2, left_on=['state', 'year', 'period'], right_on=['state', 'year', 'period'], how='inner', suffixes=['_unemp', '_GDP'])
df_merged
# left_on provides the columns from the left (df_1) dataframe that we want to merge on

,state,year,period,value_unemp,footnotes_unemp,value_GDP,footnotes_GDP
0,Alabama,2016,M12,5.9,Reflects revised population controls and model...,2050965,Reflects revised population controls and model...
1,Alabama,2016,M11,5.7,Reflects revised population controls and model...,2060807,Reflects revised population controls and model...
2,Alabama,2016,M10,6.2,Reflects revised population controls and model...,2057151,Reflects revised population controls and model...
3,Alabama,2016,M09,6.2,Reflects revised population controls and model...,2042696,Reflects revised population controls and model...
4,Alabama,2016,M08,6.2,Reflects revised population controls and model...,2033706,Reflects revised population controls and model...
...,...,...,...,...,...,...,...
199,Alabama,2000,M05,4.1,NaN,2037787,NaN
200,Alabama,2000,M04,3.8,NaN,2045171,NaN
201,Alabama,2000,M03,4.5,NaN,2038654,NaN
202,Alabama,2000,M02,5.1,NaN,2027226,NaN
203,Alabama,2000,M01,5.1,NaN,2024262,NaN

In [227]:
df_merged['fancy_ratio'] = df_merged['value_unemp']/df_merged['value_GDP']

In [228]:
df_merged

,state,year,period,value_unemp,footnotes_unemp,value_GDP,footnotes_GDP,fancy_ratio
0,Alabama,2016,M12,5.9,Reflects revised population controls and model...,2050965,Reflects revised population controls and model...,0.000003
1,Alabama,2016,M11,5.7,Reflects revised population controls and model...,2060807,Reflects revised population controls and model...,0.000003
2,Alabama,2016,M10,6.2,Reflects revised population controls and model...,2057151,Reflects revised population controls and model...,0.000003
3,Alabama,2016,M09,6.2,Reflects revised population controls and model...,2042696,Reflects revised population controls and model...,0.000003
4,Alabama,2016,M08,6.2,Reflects revised population controls and model...,2033706,Reflects revised population controls and model...,0.000003
...,...,...,...,...,...,...,...,...
199,Alabama,2000,M05,4.1,NaN,2037787,NaN,0.000002
200,Alabama,2000,M04,3.8,NaN,2045171,NaN,0.000002
201,Alabama,2000,M03,4.5,NaN,2038654,NaN,0.000002
202,Alabama,2000,M02,5.1,NaN,2027226,NaN,0.000003
203,Alabama,2000,M01,5.1,NaN,2024262,NaN,0.000003

In [237]:
df_merged.dropna()

,state,year,period,value_unemp,footnotes_unemp,value_GDP,footnotes_GDP,fancy_ratio
0,Alabama,2016,M12,5.9,Reflects revised population controls and model...,2050965,Reflects revised population controls and model...,0.000003
1,Alabama,2016,M11,5.7,Reflects revised population controls and model...,2060807,Reflects revised population controls and model...,0.000003
2,Alabama,2016,M10,6.2,Reflects revised population controls and model...,2057151,Reflects revised population controls and model...,0.000003
3,Alabama,2016,M09,6.2,Reflects revised population controls and model...,2042696,Reflects revised population controls and model...,0.000003
4,Alabama,2016,M08,6.2,Reflects revised population controls and model...,2033706,Reflects revised population controls and model...,0.000003
5,Alabama,2016,M07,6.1,Reflects revised population controls and model...,2040731,Reflects revised population controls and model...,0.000003
6,Alabama,2016,M06,6.3,Reflects revised population controls and model...,2040095,Reflects revised population controls and model...,0.000003
7,Alabama,2016,M05,5.4,Reflects revised population controls and model...,2042665,Reflects revised population controls and model...,0.000003
8,Alabama,2016,M04,5.3,Reflects revised population controls and model...,2040921,Reflects revised population controls and model...,0.000003
9,Alabama,2016,M03,6.0,Reflects revised population controls and model...,2031490,Reflects revised population controls and model...,0.000003
10,Alabama,2016,M02,6.3,Reflects revised population controls and model...,2017039,Reflects revised population controls and model...,0.000003
11,Alabama,2016,M01,6.3,Reflects revised population controls and model...,2007036,Reflects revised population controls and model...,0.000003
12,Alabama,2015,M12,5.9,Reflects revised population controls and model...,2030765,Reflects revised population controls and model...,0.000003
13,Alabama,2015,M11,5.7,Reflects revised population controls and model...,2035229,Reflects revised population controls and model...,0.000003
14,Alabama,2015,M10,5.9,Reflects revised population controls and model...,2032455,Reflects revised population controls and model...,0.000003
15,Alabama,2015,M09,5.9,Reflects revised population controls and model...,2017049,Reflects revised population controls and model...,0.000003
16,Alabama,2015,M08,6.5,Reflects revised population controls and model...,2015129,Reflects revised population controls and model...,0.000003
17,Alabama,2015,M07,6.6,Reflects revised population controls and model...,2022263,Reflects revised population controls and model...,0.000003
18,Alabama,2015,M06,6.7,Reflects revised population controls and model...,2024858,Reflects revised population controls and model...,0.000003
19,Alabama,2015,M05,6.1,Reflects revised population controls and model...,2029625,Reflects revised population controls and model...,0.000003
20,Alabama,2015,M04,5.5,Reflects revised population controls and model...,2025920,Reflects revised population controls and model...,0.000003
21,Alabama,2015,M03,5.9,Reflects revised population controls and model...,2013339,Reflects revised population controls and model...,0.000003
22,Alabama,2015,M02,6.2,Reflects revised population controls and model...,2003076,Reflects revised population controls and model...,0.000003
23,Alabama,2015,M01,6.4,Reflects revised population controls and model...,1998388,Reflects revised population controls and model...,0.000003
24,Alabama,2014,M12,5.7,Reflects revised population controls and model...,2023427,Reflects revised population controls and model...,0.000003
25,Alabama,2014,M11,5.8,Reflects revised population controls and model...,2033698,Reflects revised population controls and model...,0.000003
26,Alabama,2014,M10,6.0,Reflects revised population controls and model...,2035345,Reflects revised population controls and model...,0.000003
27,Alabama,2014,M09,6.3,Reflects revised population controls and model...,2016427,Reflects revised population controls and model...,0.000003
28,Alabama,2014,M08,7.1,Reflects revised population controls and model...,2007247,Reflects revised population controls and model...,0.000004
29,Alabama,2014,M07,7.5,Reflects revised population controls and model...,2015540,Reflects revised population controls and model...,0.000004
30,Alabama,2014,M06,7.4,Reflects revised population controls and model...,2019899,Reflects revised population controls and model...,0.000004
31,Alabama,2014,M05,6.6,Reflects revised population controls and model...,2020576,Reflects revised population controls and model...,0.000003
32,Alabama,2014,M04,6.2,Reflects revised population controls and model...,2019222,Reflects revised population controls and model...,0.000003
33,Alabama,2014,M03,7.5,Reflects revised population controls and model...,2010106,Reflects revised population controls and model...,0.000004
34,Alabama,2014,M02,7.9,Reflects revised population controls and model...,1994282,Reflects revised population controls and model...,0.000004
35,Alabama,2014,M01,7.5,Reflects revised population controls and model...,1989459,Reflects revised population controls and model...,0.000004
36,Alabama,2013,M12,6.7,Reflects revised population controls and model...,2013519,Reflects revised population controls and model...,0.000003
37,Alabama,2013,M11,6.7,Reflects revised population controls and model...,2020314,Reflects revised population controls and model...,0.000003
38,Alabama,2013,M10,7.0,Reflects revised population controls and model...,2012001,Reflects revised population controls and model...,0.000003
39,Alabama,2013,M09,7.2,Reflects revised population controls and model...,2011570,Reflects revised population controls and model...,0.000004
40,Alabama,2013,M08,7.5,Reflects revised population controls and model...,2004395,Reflects revised population controls and model...,0.000004
41,Alabama,2013,M07,7.6,Reflects revised population controls and model...,2014910,Reflects revised population controls and model...,0.000004
42,Alabama,2013,M06,7.7,Reflects revised population controls and model...,2019545,Reflects revised population controls and model...,0.000004
43,Alabama,2013,M05,6.7,Reflects revised population controls and model...,2025092,Reflects revised population controls and model...,0.000003
44,Alabama,2013,M04,6.3,Reflects revised population controls and model...,2022879,Reflects revised population controls and model...,0.000003
45,Alabama,2013,M03,7.1,Reflects revised population controls and model...,2009749,Reflects revised population controls and model...,0.000004
46,Alabama,2013,M02,8.0,Reflects revised population controls and model...,1997474,Reflects revised population controls and model...,0.000004
47,Alabama,2013,M01,8.2,Reflects revised population controls and model...,1988180,Reflects revised population controls and model...,0.000004
48,Alabama,2012,M12,7.2,Reflects revised population controls and model...,2016210,Reflects revised population controls and model...,0.000004
49,Alabama,2012,M11,6.9,Reflects revised population controls and model...,2023318,Reflects revised population controls and model...,0.000003
50,Alabama,2012,M10,7.5,Reflects revised population controls and model...,2025114,Reflects revised population controls and model...,0.000004
51,Alabama,2012,M09,7.6,Reflects revised population controls and model...,2007311,Reflects revised population controls and model...,0.000004
52,Alabama,2012,M08,8.5,Reflects revised population controls and model...,1991683,Reflects revised population controls and model...,0.000004
53,Alabama,2012,M07,9.0,Reflects revised population controls and model...,1998352,Reflects revised population controls and model...,0.000005
54,Alabama,2012,M06,9.0,Reflects revised population controls and model...,2005817,Reflects revised population controls and model...,0.000004
55,Alabama,2012,M05,7.8,Reflects revised population controls and model...,2008447,Reflects revised population controls and model...,0.000004
56,Alabama,2012,M04,7.2,Reflects revised population controls and model...,2007592,Reflects revised population controls and model...,0.000004
57,Alabama,2012,M03,7.9,Reflects revised population controls and model...,1999157,Reflects revised population controls and model...,0.000004
58,Alabama,2012,M02,8.4,Reflects revised population controls and model...,1982828,Reflects revised population controls and model...,0.000004
59,Alabama,2012,M01,8.3,Reflects revised population controls and model...,1973652,Reflects revised population controls and model...,0.000004

In [235]:
df_merged[df_merged['value_unemp'] >=5]

,state,year,period,value_unemp,footnotes_unemp,value_GDP,footnotes_GDP,fancy_ratio
0,Alabama,2016,M12,5.9,Reflects revised population controls and model...,2050965,Reflects revised population controls and model...,0.000003
1,Alabama,2016,M11,5.7,Reflects revised population controls and model...,2060807,Reflects revised population controls and model...,0.000003
2,Alabama,2016,M10,6.2,Reflects revised population controls and model...,2057151,Reflects revised population controls and model...,0.000003
3,Alabama,2016,M09,6.2,Reflects revised population controls and model...,2042696,Reflects revised population controls and model...,0.000003
4,Alabama,2016,M08,6.2,Reflects revised population controls and model...,2033706,Reflects revised population controls and model...,0.000003
5,Alabama,2016,M07,6.1,Reflects revised population controls and model...,2040731,Reflects revised population controls and model...,0.000003
6,Alabama,2016,M06,6.3,Reflects revised population controls and model...,2040095,Reflects revised population controls and model...,0.000003
7,Alabama,2016,M05,5.4,Reflects revised population controls and model...,2042665,Reflects revised population controls and model...,0.000003
8,Alabama,2016,M04,5.3,Reflects revised population controls and model...,2040921,Reflects revised population controls and model...,0.000003
9,Alabama,2016,M03,6.0,Reflects revised population controls and model...,2031490,Reflects revised population controls and model...,0.000003
10,Alabama,2016,M02,6.3,Reflects revised population controls and model...,2017039,Reflects revised population controls and model...,0.000003
11,Alabama,2016,M01,6.3,Reflects revised population controls and model...,2007036,Reflects revised population controls and model...,0.000003
12,Alabama,2015,M12,5.9,Reflects revised population controls and model...,2030765,Reflects revised population controls and model...,0.000003
13,Alabama,2015,M11,5.7,Reflects revised population controls and model...,2035229,Reflects revised population controls and model...,0.000003
14,Alabama,2015,M10,5.9,Reflects revised population controls and model...,2032455,Reflects revised population controls and model...,0.000003
15,Alabama,2015,M09,5.9,Reflects revised population controls and model...,2017049,Reflects revised population controls and model...,0.000003
16,Alabama,2015,M08,6.5,Reflects revised population controls and model...,2015129,Reflects revised population controls and model...,0.000003
17,Alabama,2015,M07,6.6,Reflects revised population controls and model...,2022263,Reflects revised population controls and model...,0.000003
18,Alabama,2015,M06,6.7,Reflects revised population controls and model...,2024858,Reflects revised population controls and model...,0.000003
19,Alabama,2015,M05,6.1,Reflects revised population controls and model...,2029625,Reflects revised population controls and model...,0.000003
20,Alabama,2015,M04,5.5,Reflects revised population controls and model...,2025920,Reflects revised population controls and model...,0.000003
21,Alabama,2015,M03,5.9,Reflects revised population controls and model...,2013339,Reflects revised population controls and model...,0.000003
22,Alabama,2015,M02,6.2,Reflects revised population controls and model...,2003076,Reflects revised population controls and model...,0.000003
23,Alabama,2015,M01,6.4,Reflects revised population controls and model...,1998388,Reflects revised population controls and model...,0.000003
24,Alabama,2014,M12,5.7,Reflects revised population controls and model...,2023427,Reflects revised population controls and model...,0.000003
25,Alabama,2014,M11,5.8,Reflects revised population controls and model...,2033698,Reflects revised population controls and model...,0.000003
26,Alabama,2014,M10,6.0,Reflects revised population controls and model...,2035345,Reflects revised population controls and model...,0.000003
27,Alabama,2014,M09,6.3,Reflects revised population controls and model...,2016427,Reflects revised population controls and model...,0.000003
28,Alabama,2014,M08,7.1,Reflects revised population controls and model...,2007247,Reflects revised population controls and model...,0.000004
29,Alabama,2014,M07,7.5,Reflects revised population controls and model...,2015540,Reflects revised population controls and model...,0.000004
30,Alabama,2014,M06,7.4,Reflects revised population controls and model...,2019899,Reflects revised population controls and model...,0.000004
31,Alabama,2014,M05,6.6,Reflects revised population controls and model...,2020576,Reflects revised population controls and model...,0.000003
32,Alabama,2014,M04,6.2,Reflects revised population controls and model...,2019222,Reflects revised population controls and model...,0.000003
33,Alabama,2014,M03,7.5,Reflects revised population controls and model...,2010106,Reflects revised population controls and model...,0.000004
34,Alabama,2014,M02,7.9,Reflects revised population controls and model...,1994282,Reflects revised population controls and model...,0.000004
35,Alabama,2014,M01,7.5,Reflects revised population controls and model...,1989459,Reflects revised population controls and model...,0.000004
36,Alabama,2013,M12,6.7,Reflects revised population controls and model...,2013519,Reflects revised population controls and model...,0.000003
37,Alabama,2013,M11,6.7,Reflects revised population controls and model...,2020314,Reflects revised population controls and model...,0.000003
38,Alabama,2013,M10,7.0,Reflects revised population controls and model...,2012001,Reflects revised population controls and model...,0.000003
39,Alabama,2013,M09,7.2,Reflects revised population controls and model...,2011570,Reflects revised population controls and model...,0.000004
40,Alabama,2013,M08,7.5,Reflects revised population controls and model...,2004395,Reflects revised population controls and model...,0.000004
41,Alabama,2013,M07,7.6,Reflects revised population controls and model...,2014910,Reflects revised population controls and model...,0.000004
42,Alabama,2013,M06,7.7,Reflects revised population controls and model...,2019545,Reflects revised population controls and model...,0.000004
43,Alabama,2013,M05,6.7,Reflects revised population controls and model...,2025092,Reflects revised population controls and model...,0.000003
44,Alabama,2013,M04,6.3,Reflects revised population controls and model...,2022879,Reflects revised population controls and model...,0.000003
45,Alabama,2013,M03,7.1,Reflects revised population controls and model...,2009749,Reflects revised population controls and model...,0.000004
46,Alabama,2013,M02,8.0,Reflects revised population controls and model...,1997474,Reflects revised population controls and model...,0.000004
47,Alabama,2013,M01,8.2,Reflects revised population controls and model...,1988180,Reflects revised population controls and model...,0.000004
48,Alabama,2012,M12,7.2,Reflects revised population controls and model...,2016210,Reflects revised population controls and model...,0.000004
49,Alabama,2012,M11,6.9,Reflects revised population controls and model...,2023318,Reflects revised population controls and model...,0.000003
50,Alabama,2012,M10,7.5,Reflects revised population controls and model...,2025114,Reflects revised population controls and model...,0.000004
51,Alabama,2012,M09,7.6,Reflects revised population controls and model...,2007311,Reflects revised population controls and model...,0.000004
52,Alabama,2012,M08,8.5,Reflects revised population controls and model...,1991683,Reflects revised population controls and model...,0.000004
53,Alabama,2012,M07,9.0,Reflects revised population controls and model...,1998352,Reflects revised population controls and model...,0.000005
54,Alabama,2012,M06,9.0,Reflects revised population controls and model...,2005817,Reflects revised population controls and model...,0.000004
55,Alabama,2012,M05,7.8,Reflects revised population controls and model...,2008447,Reflects revised population controls and model...,0.000004
56,Alabama,2012,M04,7.2,Reflects revised population controls and model...,2007592,Reflects revised population controls and model...,0.000004
57,Alabama,2012,M03,7.9,Reflects revised population controls and model...,1999157,Reflects revised population controls and model...,0.000004
58,Alabama,2012,M02,8.4,Reflects revised population controls and model...,1982828,Reflects revised population controls and model...,0.000004
59,Alabama,2012,M01,8.3,Reflects revised population controls and model...,1973652,Reflects revised population controls and model...,0.000004

In [236]:
df_merged[(df_merged['value_unemp'] >=5) & (df_merged['year'] == 2006)]

Empty DataFrame
Columns: [state, year, period, value_unemp, footnotes_unemp, value_GDP, footnotes_GDP, fancy_ratio]
Index: []

# GROUPBY

In [249]:
df_all.groupby(['state', 'year'])['value'].mean()

state    year
Alabama  2000    1.066613e+06
         2001    1.057702e+06
         2002    1.053082e+06
         2003    1.060114e+06
         2004    1.068231e+06
                     ...
Wyoming  2012    1.536349e+05
         2013    1.531738e+05
         2014    1.532287e+05
         2015    1.525754e+05
         2016    1.511669e+05
Name: value, Length: 884, dtype: float64

In [244]:
for elem in df_merged.groupby('year'):
    print(elem)

(2000,        state  year period  value_unemp footnotes_unemp  value_GDP  \
192  Alabama  2000    M12          4.2             NaN    2045059
193  Alabama  2000    M11          4.4             NaN    2043608
194  Alabama  2000    M10          4.5             NaN    2042462
195  Alabama  2000    M09          4.5             NaN    2028106
196  Alabama  2000    M08          5.0             NaN    2025248
197  Alabama  2000    M07          4.9             NaN    2029362
198  Alabama  2000    M06          4.9             NaN    2040185
199  Alabama  2000    M05          4.1             NaN    2037787
200  Alabama  2000    M04          3.8             NaN    2045171
201  Alabama  2000    M03          4.5             NaN    2038654
202  Alabama  2000    M02          5.1             NaN    2027226
203  Alabama  2000    M01          5.1             NaN    2024262

    footnotes_GDP  fancy_ratio
192           NaN     0.000002
193           NaN     0.000002
194           NaN     0.000002
195           NaN     0.000002
196           NaN     0.000002
197           NaN     0.000002
198           NaN     0.000002
199           NaN     0.000002
200           NaN     0.000002
201           NaN     0.000002
202           NaN     0.000003
203           NaN     0.000003  )
(2001,        state  year period  value_unemp footnotes_unemp  value_GDP  \
180  Alabama  2001    M12          5.8             NaN    1998822
181  Alabama  2001    M11          5.8             NaN    2001919
182  Alabama  2001    M10          5.6             NaN    2006251
183  Alabama  2001    M09          5.3             NaN    1998202
184  Alabama  2001    M08          5.6             NaN    1990457
185  Alabama  2001    M07          5.1             NaN    2005872
186  Alabama  2001    M06          5.2             NaN    2008400
187  Alabama  2001    M05          4.0             NaN    2013679
188  Alabama  2001    M04          4.2             NaN    2018617
189  Alabama  2001    M03          4.7             NaN    2021612
190  Alabama  2001    M02          5.0             NaN    2009904
191  Alabama  2001    M01          5.2             NaN    2008876

    footnotes_GDP  fancy_ratio
180           NaN     0.000003
181           NaN     0.000003
182           NaN     0.000003
183           NaN     0.000003
184           NaN     0.000003
185           NaN     0.000003
186           NaN     0.000003
187           NaN     0.000002
188           NaN     0.000002
189           NaN     0.000002
190           NaN     0.000002
191           NaN     0.000003  )
(2002,        state  year period  value_unemp footnotes_unemp  value_GDP  \
168  Alabama  2002    M12          5.7             NaN    2001747
169  Alabama  2002    M11          5.8             NaN    2003102
170  Alabama  2002    M10          5.6             NaN    2006102
171  Alabama  2002    M09          5.7             NaN    1990444
172  Alabama  2002    M08          6.2             NaN    1977913
173  Alabama  2002    M07          6.2             NaN    1976105
174  Alabama  2002    M06          6.3             NaN    1975805
175  Alabama  2002    M05          5.2             NaN    1978799
176  Alabama  2002    M04          5.3             NaN    1977674
177  Alabama  2002    M03          6.0             NaN    1974955
178  Alabama  2002    M02          6.3             NaN    1966562
179  Alabama  2002    M01          6.5             NaN    1953814

    footnotes_GDP  fancy_ratio
168           NaN     0.000003
169           NaN     0.000003
170           NaN     0.000003
171           NaN     0.000003
172           NaN     0.000003
173           NaN     0.000003
174           NaN     0.000003
175           NaN     0.000003
176           NaN     0.000003
177           NaN     0.000003
178           NaN     0.000003
179           NaN     0.000003  )
(2003,        state  year period  value_unemp footnotes_unemp  value_GDP  \
156  Alabama  2003    M12          5.7             NaN    2012259
157  Alabama  2003    M11          6.1             NaN    2014530
158  Alabama  2003    M10          6.1             NaN    2009302
159  Alabama  2003    M09          6.0             NaN    1988078
160  Alabama  2003    M08          6.4             NaN    1983830
161  Alabama  2003    M07          6.3             NaN    1985497
162  Alabama  2003    M06          6.9             NaN    1989638
163  Alabama  2003    M05          5.6             NaN    1989984
164  Alabama  2003    M04          5.3             NaN    1995330
165  Alabama  2003    M03          5.6             NaN    1989754
166  Alabama  2003    M02          6.0             NaN    1980206
167  Alabama  2003    M01          6.2             NaN    1974374

    footnotes_GDP  fancy_ratio
156           NaN     0.000003
157           NaN     0.000003
158           NaN     0.000003
159           NaN     0.000003
160           NaN     0.000003
161           NaN     0.000003
162           NaN     0.000003
163           NaN     0.000003
164           NaN     0.000003
165           NaN     0.000003
166           NaN     0.000003
167           NaN     0.000003  )
(2004,        state  year period  value_unemp footnotes_unemp  value_GDP  \
144  Alabama  2004    M12          4.9             NaN    2041339
145  Alabama  2004    M11          5.2             NaN    2043152
146  Alabama  2004    M10          5.5             NaN    2035705
147  Alabama  2004    M09          5.6             NaN    2015103
148  Alabama  2004    M08          5.9             NaN    2015320
149  Alabama  2004    M07          6.0             NaN    2019963
150  Alabama  2004    M06          6.1             NaN    2013057
151  Alabama  2004    M05          5.4             NaN    2009573
152  Alabama  2004    M04          5.2             NaN    2009556
153  Alabama  2004    M03          5.9             NaN    1999936
154  Alabama  2004    M02          6.1             NaN    1990082
155  Alabama  2004    M01          6.4             NaN    1985886

    footnotes_GDP  fancy_ratio
144           NaN     0.000002
145           NaN     0.000003
146           NaN     0.000003
147           NaN     0.000003
148           NaN     0.000003
149           NaN     0.000003
150           NaN     0.000003
151           NaN     0.000003
152           NaN     0.000003
153           NaN     0.000003
154           NaN     0.000003
155           NaN     0.000003  )
(2005,        state  year period  value_unemp footnotes_unemp  value_GDP  \
132  Alabama  2005    M12          3.9             NaN    2079724
133  Alabama  2005    M11          4.0             NaN    2078869
134  Alabama  2005    M10          4.2             NaN    2078674
135  Alabama  2005    M09          4.3             NaN    2057174
136  Alabama  2005    M08          4.5             NaN    2053608
137  Alabama  2005    M07          4.7             NaN    2052713
138  Alabama  2005    M06          5.0             NaN    2048730
139  Alabama  2005    M05          4.0             NaN    2048188
140  Alabama  2005    M04          3.9             NaN    2045070
141  Alabama  2005    M03          4.6             NaN    2028597
142  Alabama  2005    M02          5.4             NaN    2014928
143  Alabama  2005    M01          5.4             NaN    2011219

    footnotes_GDP  fancy_ratio
132           NaN     0.000002
133           NaN     0.000002
134           NaN     0.000002
135           NaN     0.000002
136           NaN     0.000002
137           NaN     0.000002
138           NaN     0.000002
139           NaN     0.000002
140           NaN     0.000002
141           NaN     0.000002
142           NaN     0.000003
143           NaN     0.000003  )
(2006,        state  year period  value_unemp footnotes_unemp  value_GDP  \
120  Alabama  2006    M12          3.7             NaN    2107748
121  Alabama  2006    M11          3.7             NaN    2105333
122  Alabama  2006    M10          3.6             NaN    2103518
123  Alabama  2006    M09          3.9             NaN    2081849
124  Alabama  2006    M08          4.4             NaN    2079513
125  Alabama  2006    M07          4.6             NaN    2080469
126  Alabama  2006    M06          4.6             NaN    2083142
127  Alabama  2006    M05          3.6             NaN    2075463
128  Alabama  2006    M04          3.5             NaN    2074172
129  Alabama  2006    M03          3.9             NaN    2068993
130  Alabama  2006    M02          4.5             NaN    2053723
131  Alabama  2006    M01          4.4             NaN    2048878

    footnotes_GDP  fancy_ratio
120           NaN     0.000002
121           NaN     0.000002
122           NaN     0.000002
123           NaN     0.000002
124           NaN     0.000002
125           NaN     0.000002
126           NaN     0.000002
127           NaN     0.000002
128           NaN     0.000002
129           NaN     0.000002
130           NaN     0.000002
131           NaN     0.000002  )
(2007,        state  year period  value_unemp footnotes_unemp  value_GDP  \
108  Alabama  2007    M12          4.3             NaN    2096601
109  Alabama  2007    M11          3.9             NaN    2107374
110  Alabama  2007    M10          3.8             NaN    2099135
111  Alabama  2007    M09          4.0             NaN    2086890
112  Alabama  2007    M08          4.3             NaN    2078047
113  Alabama  2007    M07          4.4             NaN    2087356
114  Alabama  2007    M06          4.2             NaN    2091928
115  Alabama  2007    M05          3.3             NaN    2086563
116  Alabama  2007    M04          3.3             NaN    2086715
117  Alabama  2007    M03          3.8             NaN    2094367
118  Alabama  2007    M02          4.2             NaN    2078300
119  Alabama  2007    M01          4.3             NaN    2076252

    footnotes_GDP  fancy_ratio
108           NaN     0.000002
109           NaN     0.000002
110           NaN     0.000002
111           NaN     0.000002
112           NaN     0.000002
113           NaN     0.000002
114           NaN     0.000002
115           NaN     0.000002
116           NaN     0.000002
117           NaN     0.000002
118           NaN     0.000002
119           NaN     0.000002  )
(2008,        state  year period  value_unemp footnotes_unemp  value_GDP  \
96   Alabama  2008    M12          7.6             NaN    2008873
97   Alabama  2008    M11          6.7             NaN    2030180
98   Alabama  2008    M10          6.3             NaN    2047657
99   Alabama  2008    M09          5.9             NaN    2042444
100  Alabama  2008    M08          6.2             NaN    2045512
101  Alabama  2008    M07          6.0             NaN    2060216
102  Alabama  2008    M06          5.9             NaN    2066629
103  Alabama  2008    M05          4.9             NaN    2068192
104  Alabama  2008    M04          4.0             NaN    2076473
105  Alabama  2008    M03          4.7             NaN    2069395
106  Alabama  2008    M02          4.9             NaN    2060564
107  Alabama  2008    M01          4.8             NaN    2065583

    footnotes_GDP  fancy_ratio
96            NaN     0.000004
97            NaN     0.000003
98            NaN     0.000003
99            NaN     0.000003
100           NaN     0.000003
101           NaN     0.000003
102           NaN     0.000003
103           NaN     0.000002
104           NaN     0.000002
105           NaN     0.000002
106           NaN     0.000002
107           NaN     0.000002  )
(2009,       state  year period  value_unemp footnotes_unemp  value_GDP  \
84  Alabama  2009    M12         11.4             NaN    1894973
85  Alabama  2009    M11         11.1             NaN    1910326
86  Alabama  2009    M10         11.7             NaN    1906032
87  Alabama  2009    M09         11.5             NaN    1900104
88  Alabama  2009    M08         11.9             NaN    1909325
89  Alabama  2009    M07         11.8             NaN    1922689
90  Alabama  2009    M06         11.9             NaN    1929460
91  Alabama  2009    M05         10.6             NaN    1936027
92  Alabama  2009    M04          9.9             NaN    1947745
93  Alabama  2009    M03         10.4             NaN    1941378
94  Alabama  2009    M02         10.5             NaN    1943707
95  Alabama  2009    M01          9.7             NaN    1955196

   footnotes_GDP  fancy_ratio
84           NaN     0.000006
85           NaN     0.000006
86           NaN     0.000006
87           NaN     0.000006
88           NaN     0.000006
89           NaN     0.000006
90           NaN     0.000006
91           NaN     0.000005
92           NaN     0.000005
93           NaN     0.000005
94           NaN     0.000005
95           NaN     0.000005  )
(2010,       state  year period  value_unemp footnotes_unemp  value_GDP  \
72  Alabama  2010    M12          9.8             NaN    1996538
73  Alabama  2010    M11         10.0             NaN    2001481
74  Alabama  2010    M10          9.9             NaN    2001483
75  Alabama  2010    M09          9.8             NaN    1990219
76  Alabama  2010    M08         10.1             NaN    1988261
77  Alabama  2010    M07         10.2             NaN    1990949
78  Alabama  2010    M06         10.5             NaN    1994590
79  Alabama  2010    M05          9.9             NaN    1994090
80  Alabama  2010    M04         10.4             NaN    1976552
81  Alabama  2010    M03         11.5             NaN    1892006
82  Alabama  2010    M02         12.1             NaN    1876758
83  Alabama  2010    M01         12.3             NaN    1871780

   footnotes_GDP  fancy_ratio
72           NaN     0.000005
73           NaN     0.000005
74           NaN     0.000005
75           NaN     0.000005
76           NaN     0.000005
77           NaN     0.000005
78           NaN     0.000005
79           NaN     0.000005
80           NaN     0.000005
81           NaN     0.000006
82           NaN     0.000006
83           NaN     0.000007  )
(2011,       state  year period  value_unemp footnotes_unemp  value_GDP  \
60  Alabama  2011    M12          7.9             NaN    2004151
61  Alabama  2011    M11          8.0             NaN    2008604
62  Alabama  2011    M10          8.9             NaN    2005689
63  Alabama  2011    M09          9.5             NaN    1993496
64  Alabama  2011    M08         10.0             NaN    1983353
65  Alabama  2011    M07         10.4             NaN    1984262
66  Alabama  2011    M06         10.6             NaN    1986735
67  Alabama  2011    M05          9.6             NaN    1994098
68  Alabama  2011    M04          9.4             NaN    1996846
69  Alabama  2011    M03          9.9             NaN    1987874
70  Alabama  2011    M02         10.5             NaN    1972720
71  Alabama  2011    M01         11.0             NaN    1967127

   footnotes_GDP  fancy_ratio
60           NaN     0.000004
61           NaN     0.000004
62           NaN     0.000004
63           NaN     0.000005
64           NaN     0.000005
65           NaN     0.000005
66           NaN     0.000005
67           NaN     0.000005
68           NaN     0.000005
69           NaN     0.000005
70           NaN     0.000005
71           NaN     0.000006  )
(2012,       state  year period  value_unemp  \
48  Alabama  2012    M12          7.2
49  Alabama  2012    M11          6.9
50  Alabama  2012    M10          7.5
51  Alabama  2012    M09          7.6
52  Alabama  2012    M08          8.5
53  Alabama  2012    M07          9.0
54  Alabama  2012    M06          9.0
55  Alabama  2012    M05          7.8
56  Alabama  2012    M04          7.2
57  Alabama  2012    M03          7.9
58  Alabama  2012    M02          8.4
59  Alabama  2012    M01          8.3

                                      footnotes_unemp  value_GDP  \
48  Reflects revised population controls and model...    2016210
49  Reflects revised population controls and model...    2023318
50  Reflects revised population controls and model...    2025114
51  Reflects revised population controls and model...    2007311
52  Reflects revised population controls and model...    1991683
53  Reflects revised population controls and model...    1998352
54  Reflects revised population controls and model...    2005817
55  Reflects revised population controls and model...    2008447
56  Reflects revised population controls and model...    2007592
57  Reflects revised population controls and model...    1999157
58  Reflects revised population controls and model...    1982828
59  Reflects revised population controls and model...    1973652

                                        footnotes_GDP  fancy_ratio
48  Reflects revised population controls and model...     0.000004
49  Reflects revised population controls and model...     0.000003
50  Reflects revised population controls and model...     0.000004
51  Reflects revised population controls and model...     0.000004
52  Reflects revised population controls and model...     0.000004
53  Reflects revised population controls and model...     0.000005
54  Reflects revised population controls and model...     0.000004
55  Reflects revised population controls and model...     0.000004
56  Reflects revised population controls and model...     0.000004
57  Reflects revised population controls and model...     0.000004
58  Reflects revised population controls and model...     0.000004
59  Reflects revised population controls and model...     0.000004  )
(2013,       state  year period  value_unemp  \
36  Alabama  2013    M12          6.7
37  Alabama  2013    M11          6.7
38  Alabama  2013    M10          7.0
39  Alabama  2013    M09          7.2
40  Alabama  2013    M08          7.5
41  Alabama  2013    M07          7.6
42  Alabama  2013    M06          7.7
43  Alabama  2013    M05          6.7
44  Alabama  2013    M04          6.3
45  Alabama  2013    M03          7.1
46  Alabama  2013    M02          8.0
47  Alabama  2013    M01          8.2

                                      footnotes_unemp  value_GDP  \
36  Reflects revised population controls and model...    2013519
37  Reflects revised population controls and model...    2020314
38  Reflects revised population controls and model...    2012001
39  Reflects revised population controls and model...    2011570
40  Reflects revised population controls and model...    2004395
41  Reflects revised population controls and model...    2014910
42  Reflects revised population controls and model...    2019545
43  Reflects revised population controls and model...    2025092
44  Reflects revised population controls and model...    2022879
45  Reflects revised population controls and model...    2009749
46  Reflects revised population controls and model...    1997474
47  Reflects revised population controls and model...    1988180

                                        footnotes_GDP  fancy_ratio
36  Reflects revised population controls and model...     0.000003
37  Reflects revised population controls and model...     0.000003
38  Reflects revised population controls and model...     0.000003
39  Reflects revised population controls and model...     0.000004
40  Reflects revised population controls and model...     0.000004
41  Reflects revised population controls and model...     0.000004
42  Reflects revised population controls and model...     0.000004
43  Reflects revised population controls and model...     0.000003
44  Reflects revised population controls and model...     0.000003
45  Reflects revised population controls and model...     0.000004
46  Reflects revised population controls and model...     0.000004
47  Reflects revised population controls and model...     0.000004  )
(2014,       state  year period  value_unemp  \
24  Alabama  2014    M12          5.7
25  Alabama  2014    M11          5.8
26  Alabama  2014    M10          6.0
27  Alabama  2014    M09          6.3
28  Alabama  2014    M08          7.1
29  Alabama  2014    M07          7.5
30  Alabama  2014    M06          7.4